#add-new-wrapper {
  margin-top: 44px;
}

textarea {
  resize: none;
  margin: 16px;
  padding: 8px;
  width: calc(100vw - 2 * (16px + 8px));
  height: calc(100vh - 272px);
  border: none;
  font-size: 16px;
  line-height: 1.2;
  font-family: $text-font;
}
