$blue: #1c819e;
$dark-blue: #005874;
$teal: #129490;
$yellow: #ffbe00;
$green: #0cce6b;
$grey: #e6e6d4;
$red: #b93848;
$faded-blue: rgba(28, 129, 158, 0.2);

//peter's colors
$peter-blue: #1c3b8b;
$darkgrey: #c7c7b2;
$peter-green: #009f5c;
$peter-red: #e53d00;
$peter-green-faded: rgba(0, 159, 92, 0.2);
