@import "./reset.scss";

#header--top-row {
  background-color: hotpink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: 8vh;
}
