@import "./reset.scss";
@import "./fonts.scss";
@import "./colors.scss";

.strike {
  text-decoration: line-through;
  background-color: $blue !important;
  color: white;
}

body {
  background-color: $grey;
}

h2 {
  font-size: 21px;
  font-weight: 900;
  font-family: $text-font;
  margin: 16px;
}

.content {
  width: 100%;
  padding: 8px;
  height: 65vh;
  overflow-y: scroll;
  position: fixed;
  bottom: 8px;
  box-sizing: border-box;
}

p {
  font-size: 21px;
  font-family: $text-font;
  margin: 4px;
}

.swipe-balls {
  display: flex;
  justify-content: center;
}

.swipe-balls > button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.history--case-mark-scheme {
  height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.history--case-mark-scheme li {
  height: 48px;
  width: 100%;
  font-size: 21px;
  margin: 0;
  display: flex;
  margin-top: 8px;
  padding: 8px;
  justify-content: left;
  align-items: center;
  background-color: white;
  font-family: Roboto;
  box-sizing: border-box;
}
