.strike {
  text-decoration: line-through;
  // background-color: $blue !important;
  color: white;
}

body {
  background-color: $grey;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100vw;
}

h2 {
  font-size: 21px;
  font-weight: 900;
  font-family: $text-font;
  margin: 16px;
  text-align: center;
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // border: 1px solid blue;
}

.content {
  padding: 8px;
  padding-top: 32px;
  overflow-y: scroll;
  box-sizing: border-box;
  // border: 1px solid red;
}

p {
  font-size: 21px;
  font-family: $text-font;
  margin: 8px;
}

.swipe-balls {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.swipe-balls > button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

.history--case-mark-scheme {
  height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.history--case-mark-scheme li {
  height: 48px;
  width: 100%;
  font-size: 21px;
  margin: 0;
  display: flex;
  margin-top: 8px;
  padding: 8px;
  justify-content: left;
  align-items: center;
  background-color: white;
  font-family: Roboto;
  box-sizing: border-box;
}
