* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e6e6d4;
}

#root {
  margin-bottom: 52px;
  font-family: $text-font;
  color: black;
  font-size: 20px;
  font-weight: 400;
}

#root a {
  text-decoration: none;
  color: black;
}

#root .page-wrapper {
  display: flex;
  flex-direction: column;
}

#root #title {
  text-transform: uppercase;
  font-family: $title-font;
  font-size: 28pt;
  letter-spacing: 10%;
  text-align: center;
  padding: 32px 0;
}

#icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  margin: 64px 0;
}

#icon-wrapper #coming-soon-icon {
  width: 80%;
  max-height: 100%;
}
