* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e6e6d4;
}

#root {
  margin-bottom: 52px;
  font-family: $text-font;
  color: black;
  font-size: 20px;
  font-weight: 400;
}

#root a {
  text-decoration: none;
  color: black;
}

#root .page-wrapper {
  display: flex;
  flex-direction: column;
}

#root #title {
  text-transform: uppercase;
  font-family: $title-font;
  font-size: 28pt;
  letter-spacing: 10%;
  text-align: center;
  padding: 32px 0;
  // border: 1px solid yellow;
}

textarea {
  resize: none;
  margin: 16px;
  padding: 8px;
  width: calc(100vw - 2 * (16px + 8px));
  height: calc(100vh - 272px);
  border: none;
  font-size: 16px;
  line-height: 1.2;
  font-family: $text-font;
}

#icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 48px);
  width: 100vw;
  margin: 48px 0;
}

#icon-wrapper #coming-soon-icon {
  height: 80vmin;
}
